name: Auto Release

on:
  push:
    tags:
      - "v*"

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Create Clean Zip Archive
        run: |
          ZIP_NAME="SocialFetch-${{ github.ref_name }}.zip"
          STAGING_DIR="SocialFetch"
          mkdir $STAGING_DIR
          rsync -av --exclude='.git' --exclude="$STAGING_DIR" . $STAGING_DIR/
          rm -rf $STAGING_DIR/.github
          rm -rf $STAGING_DIR/assets
          rm -f  $STAGING_DIR/.gitignore
          rm -f  $STAGING_DIR/.gitattributes
          rm -f  $STAGING_DIR/README.md
          rm -f  $STAGING_DIR/CONTRIBUTING.md
          rm -f  $STAGING_DIR/SECURITY.md
          zip -r $ZIP_NAME $STAGING_DIR
          echo "ZIP_NAME=$ZIP_NAME" >> $GITHUB_ENV
      - name: Create GitHub Release
        uses: softprops/action-gh-release@v1
        with:
          files: ${{ env.ZIP_NAME }}
          generate_release_notes: true
          draft: false
          prerelease: false