name: Auto Release

on:
  push:
    tags:
      - "v*"

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Create Clean Zip Archive
        run: |
          # Create a specific name for the zip based on the tag (e.g., SocialFetch-v1.0.zip)
          ZIP_NAME="SocialFetch-${{ github.ref_name }}.zip"
          
          # Zip everything (.) BUT exclude (-x) the blacklist items
          zip -r $ZIP_NAME . -x "*.md" "assets/*" ".github/*" ".git/*" ".gitignore" "CONTRIBUTING" "LICENSE"
          
          echo "ZIP_NAME=$ZIP_NAME" >> $GITHUB_ENV

      - name: Create GitHub Release
        uses: softprops/action-gh-release@v1
        with:
          files: ${{ env.ZIP_NAME }}
          generate_release_notes: true
          draft: false
          prerelease: false